.feed {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts-container{
  display: grid;
  grid-template-areas: "post post"; /* 3 columns */
  grid-template-columns: 380px 380px;
  gap: 20px;
}
.feedWrapper {
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .post {
    width: 350px;
  }
}
